
/* SECCIÓN DISFRACES */
#disfraces {
  text-align: center;
  padding: 0px 10px;
}

#disfraces h1 {
  color: #7f6000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 30px;
}

#disfraces p {
  color: #555;
  margin-bottom: 30px;
  font-size: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  #disfraces h1 {
    font-size: 30px;
  }
}
/* ---------- */

/* ===== Estilos para la lista de negocios ===== */
/* ===== Diseño general ===== */

.lista-negocios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  margin: 30px auto;
  max-width: 1000px;
}

/* ===== BLOQUE NO PULSADO ===== */

.negocio {
  background: #fff;
  border: 2px solid #7f6000;
  border-radius: 16px;
  padding: 15px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.negocio:hover {
  background: #fffaf0;
}

.foto-circular {
  width: 10%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #7f6000;
  margin-bottom: 10px;
  transition: 0.3s;
}

.info-breve {
  text-align: left;
  width: 90%;
}

.info-breve h2 {
  font-size: 20px;
  margin: 5px 0 0 10px;
  color: #7f6000;
}

.info-breve p {
  font-size: 18px;
  margin: 2px 0 0 10px;
  color: #555;
}

/* ===== BLOQUE PULSADO ===== */

.detalles {
  display: none;
  margin-top: 10px;
  width: 100%;
  position: relative;
  animation: fadeIn 0.4s ease-in-out;
}

.negocio.activo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.negocio.activo .foto-circular,
.negocio.activo .info-breve {
  display: none;
}

.negocio.activo .detalles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.detalles h2 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #7f6000;
  margin-bottom: 10px;
}

.detalles p {
  font-size: 16px;
  color: #333;
  margin: 3px 0;
  width: 55%;
}

.detalles a {
  color: #7f6000;
  text-decoration: none;
}

.imagen-derecha {
  width: 40%;
  text-align: right;
}

.imagen-derecha img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #7f6000;
}

/* Animación */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* ===== Responsivo ===== */
@media (max-width: 768px) {
  .lista-negocios {
    grid-template-columns: 1fr;
  }
  .detalles p, .imagen-derecha {
    width: 100%;
  }
  .imagen-derecha {
    text-align: center;
    margin-top: 10px;
  }
}
